
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
  font-weight: 200;
  font-size: 20px;
  background-color: #313131;
  color: #ccc;
}

.notification {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  color: #ffffff;
  font-size: 18px;
  line-height: 50px;
  padding: 0 20px;
  transition-duration: 200ms;
  transform: translateY(-50px);
}

.notification.offline {
  background-color:gray;
  transform: translateY(0);
}
.notification.online{
  background-color: green;
  transform: translateY(0);
}

.network-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.network-message #network-status {
  font-weight: bold;
}

.topic-wrapper {
  padding: 10px 15px;
}

